{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Sreekrishna Pappad - Pappad Website Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap" rel="stylesheet"> 

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">


        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>

    <body>



        <div class="container-fluid fixed-top">
            <div class="container topbar bg-primary d-none d-lg-block">
                
            </div>
            <div class="container px-0">
                <nav class="navbar navbar-light bg-white navbar-expand-xl">
                    <a href="{% url 'index' %}" class="navbar-brand"><h1 class="text-primary display-6">Sreekrishna Pappad</h1></a>
                    <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars text-primary"></span>
                    </button>
                    <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                        <div class="navbar-nav mx-auto">
                            <a href="{% url 'index' %}" class="nav-item nav-link">Home</a>
                            <a href="{% url 'shop' %}" class="nav-item nav-link">Shop</a>
                            <div class="nav-item dropdown">
                                <a href="{% url 'cart' %}" class="nav-item nav-link">
                                    <i style="font-size:15px" class="fas fa-shopping-cart"></i> 
                                </a>
                                    
                                
                            </div>
                            <a href="{% url 'contact' %}" class="nav-item nav-link active">Contact</a>
                        </div>
                       
                            
                        </div>
                    </div>
                </nav>
            </div>
        </div>


        

        <div class="container-fluid page-header py-5">
            <h1 class="text-center text-white display-6">Contact</h1>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                
                <li class="breadcrumb-item active text-white">Contact</li>
            </ol>
        </div>


        <div class="container-fluid contact py-5">
            <div class="container py-5">
                <div class="p-5 bg-light rounded">
                    <div class="row g-4">
                        <div class="col-12">
                            <div class="text-center mx-auto" style="max-width: 700px;">
                                <h1 class="text-primary">Get in touch</h1>
                                <p class="mb-4">We are always here to assist you. If you have any questions or concerns, please feel free to reach out to us via phone or email. Your feedback is important to us. Our location is provided below for your convenience.</p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="h-100 rounded">
                                <iframe class="rounded w-100" 
                                style="height: 400px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7862.56069322946!2d76.30944796558705!3d9.826805008540234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0871b8f984de3d%3A0xa9c6abf7367c65f6!2sKaniyamkattil%20House!5e0!3m2!1sen!2sin!4v1729153972409!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" 
                                loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                                </iframe>
                            
                            </div>
                        </div>
                        
                        <div class="col-lg-5">
                            <div class="d-flex p-4 rounded mb-4 bg-white">
                                <i class="fas fa-map-marker-alt fa-2x text-primary me-4"></i>
                                <div>
                                    <h4>Address</h4>
                                    <p class="mb-2">Kaniyamkattil Eramalloor P O Cherthala, Alappuzha</p>
                                </div>
                            </div>
                            <div class="d-flex p-4 rounded mb-4 bg-white">
                                <i class="fas fa-envelope fa-2x text-primary me-4"></i>
                                <div>
                                    <h4>Mail Us</h4>
                                    <p class="mb-2">amruthakunjan2001@gmail.com</p>
                                </div>
                            </div>
                            <div class="d-flex p-4 rounded bg-white">
                                <i class="fa fa-phone-alt fa-2x text-primary me-4"></i>
                                <div>
                                    <h4>Telephone</h4>
                                    <p class="mb-2">9567957236</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
            <div class="container py-5">
                <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
                    <div class="row g-4">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <a href="#" class="text-center">
                                <h1 class="text-primary mb-0">Sreekrishna Pappad</h1>
                                <p class="text-secondary mb-0">Homemade Products</p>
                            </a>
                        </div>
                        
                       
                    </div>
                </div>
                <div class="row g-5">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-item">
                            <h4 class="text-light mb-3">Why People Love Us!</h4>
                            <p class="mb-4 short-description">
                                Our pappadams are crafted with the finest ingredients and traditional recipes, ensuring each bite is a delightful experience. Here’s why our customers keep coming back:
                                <span class="more-text" style="display: none;">
                                    Authentic Taste: Enjoy the rich flavors that remind you of home-cooked meals.<br>
                                    Quality Ingredients: We use only the best, all-natural ingredients with no preservatives.<br>
                                    Crispy Perfection: Our pappadams are expertly roasted to achieve that perfect crunch.<br>
                                    Versatile Snack: Perfect as a standalone snack or paired with your favorite dips and dishes.<br>
                                    Discover the joy of snacking with us!
                                </span>
                            </p>
                            <a href="#" class="btn border-secondary py-2 px-4 rounded-pill text-primary" onclick="toggleDescription(event)">Read More</a>
                        </div>
                    </div>
                    
                    <script>
                    function toggleDescription(event) {
                        event.preventDefault();
                        const moreText = event.target.previousElementSibling.querySelector('.more-text');
                        const isVisible = moreText.style.display === 'block';
                    
                        moreText.style.display = isVisible ? 'none' : 'block';
                        event.target.textContent = isVisible ? 'Read More' : 'Read Less';
                    }
                    </script>
                    
                    <div class="col-lg-3 col-md-6">
                        <div class="d-flex flex-column text-start footer-item">
                            <h4 class="text-light mb-3">Shop Info</h4>
                            
                            <a href="{% url 'contact' %}" class="btn-link">Contact</a>
                                                        
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="d-flex flex-column text-start footer-item">
                            <h4 class="text-light mb-3">Account</h4>
                            <a href="{% url 'login' %}" class="btn-link">Login</a>
                            <a href="{% url 'shop' %}" class="btn-link">Shop</a>
                            <a href="{% url 'cart' %}" class="btn-link">Cart</a>
                        
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-item">
                            <h4 class="text-light mb-3">Contact</h4>
                            <p>Address: Kaniyamkattil Eramalloor P O Cherthala, Alappuzha</p>
                            <p>Email: amruthakunjan2001@gmail.com</p>
                            <p>Phone: 9567957236</p>
                            <p>Payment Accepted</p>
                            <img src="{% static 'img/payment.png' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        




        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <script src="{%static 'js/main.js' %}"></script>
    </body>

</html>